# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/tools/ald_compiler/.vs
/tools/ald_compiler/win/.vs
/tools/ald_compiler/win/ald_compiler/x64
/tools/ald_compiler/win/x64
/gen
/xise/xst/work
xise/iseconfig/ald.xreport
xise/iseconfig/ibm360.projectmgr
/xise/ipcore_dir/tmp
xise/ipcore_dir/endpoint_blk_plus_v1_15_flist.txt
xise/ipcore_dir/endpoint_blk_plus_v1_15_xmdf.tcl
/xise/ipcore_dir/endpoint_blk_plus_v1_15
xise/ipcore_dir/endpoint_blk_plus_v1_15.xlpp
xise/ipcore_dir/endpoint_blk_plus_v1_15.xise
xise/ipcore_dir/endpoint_blk_plus_v1_15.gise
*.xreport
xise/webtalk_pn.xml
*.xrpt
xise/IBM360_vhdl.prj
xise/IBM360_summary.html
xise/IBM360_envsettings.html
xise/IBM360.xst
xise/IBM360.syr
xise/IBM360.prj
xise/IBM360.ngr
xise/IBM360.lso
xise/ibm360.gise
xise/IBM360.cmd_log
xise/ald_summary.html
/xise/_xmsgs
/hercules/.vs
*.bak
/hercules/Backup
/hercules/msvc.AMD64.bin
/hercules/msvc.debug.dllmod.bin
/hercules/msvc.dllmod.bin
/os360mvt
hercules/UpgradeLog.htm
hercules/Hercules.vcxproj.user
__pycache__/
