## * IBM 360 Model 65 Emulator
## * Copyright (C) 2024 Camiel Vanderhoeven
## *
## * This program is free software: you can redistribute it and/or modify
## * it under the terms of the GNU General Public License as published by
## * the Free Software Foundation, either version 3 of the License, or
## * (at your option) any later version.
## *
## * This program is distributed in the hope that it will be useful,
## * but WITHOUT ANY WARRANTY; without even the implied warranty of
## * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## * GNU General Public License for more details.
## *
## * You should have received a copy of the GNU General Public License
## * along with this program.  If not, see <http://www.gnu.org/licenses/>.

CONFIG PART = XC5VLX110T-FF1136-1 ;

NET  disp_clk_o            LOC="F34";   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  disp_latch_n_o        LOC="H34";   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  disp_shift_o[0]       LOC="G33";   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  disp_shift_o[1]       LOC="G32";   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  disp_shift_o[2]       LOC="M32";   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  disp_shift_o[3]       LOC="P34";   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  disp_shift_o[4]       LOC="N34";   # Bank 11, Vcco=2.5V or 3.3V user selectable by J20
NET  disp_shift_o[5]       LOC="AA34";  # Bank 13, Vcco=2.5V or 3.3V user selectable by J20 (SYSMON External Input: VAUXP[5]) J6-26
NET  disp_shift_i[0]       LOC="AD32";  # Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET  disp_shift_i[1]       LOC="Y34";   # Bank 13, Vcco=2.5V or 3.3V user selectable by J20 (SYSMON External Input: VAUXN[5]) J6-30
NET  disp_shift_i[2]       LOC="Y32";   # Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET  disp_shift_i[3]       LOC="W32";   # Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET  disp_shift_i[4]       LOC="AH34";  # Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET  disp_shift_i[5]       LOC="AE32";  # Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET  disp_shift_i[6]       LOC="AG32";  # Bank 13, Vcco=2.5V or 3.3V user selectable by J20
NET  disp_shift_i[7]       LOC="AH32";  # Bank 13, Vcco=2.5V or 3.3V user selectable by J20


NET led_4(0) LOC="AF13";
NET led_4(1) LOC="AG23";
NET led_4(2) LOC="AG12";
NET led_4(3) LOC="AF23";

NET led_10(0) LOC="T10";
NET led_10(1) LOC="F6";
NET led_10(2) LOC="H18";
NET led_10(3) LOC="L18";
NET led_10(4) LOC="G15";
NET led_10(5) LOC="AD26";
NET led_10(6) LOC="G16";
NET led_10(7) LOC="AD25";
NET led_10(8) LOC="AD24";
NET led_10(9) LOC="AE24";

NET  CLK_FPGA_N           LOC="K19";   # Bank 3, Vcco=2.5V, No DCI      
NET  CLK_FPGA_P           LOC="L19";   # Bank 3, Vcco=2.5V, No DCI      
NET "clk200" PERIOD = 5ns;
NET "clk" PERIOD = 10ns;
# Display logic now uses clk with a local enable every 512 edges.
# Mailboxes hold the complete bus until the capture acknowledgement returns.
# Only request/ack first-stage inputs are excluded from synchronous timing.
# Bus delay is still bounded independently of the unrelated clock phases.
INST "pcie/app/PIO_interface/PIO_EP_ins/EP_MEM/EP_MEM_inst/cpu_to_pcie/source_hold*" TNM = "CDC_CMD_HOLD";
INST "pcie/app/PIO_interface/PIO_EP_ins/EP_MEM/EP_MEM_inst/cpu_to_pcie/destination_data*" TNM = "CDC_CMD_CAPTURE";
TIMESPEC "TS_CDC_CMD_DATA" = FROM "CDC_CMD_HOLD" TO "CDC_CMD_CAPTURE" 8 ns DATAPATHONLY;
INST "pcie/app/PIO_interface/PIO_EP_ins/EP_MEM/EP_MEM_inst/pcie_to_cpu/source_hold*" TNM = "CDC_RESP_HOLD";
INST "pcie/app/PIO_interface/PIO_EP_ins/EP_MEM/EP_MEM_inst/pcie_to_cpu/destination_data*" TNM = "CDC_RESP_CAPTURE";
TIMESPEC "TS_CDC_RESP_DATA" = FROM "CDC_RESP_HOLD" TO "CDC_RESP_CAPTURE" 8 ns DATAPATHONLY;
INST "pcie/app/PIO_interface/PIO_EP_ins/EP_MEM/EP_MEM_inst/*/request_toggle" TNM = "CDC_REQUEST_SOURCE";
INST "pcie/app/PIO_interface/PIO_EP_ins/EP_MEM/EP_MEM_inst/*/request_meta" TNM = "CDC_REQUEST_FIRST";
TIMESPEC "TS_CDC_REQUEST" = FROM "CDC_REQUEST_SOURCE" TO "CDC_REQUEST_FIRST" TIG;
INST "pcie/app/PIO_interface/PIO_EP_ins/EP_MEM/EP_MEM_inst/*/acknowledge_toggle" TNM = "CDC_ACK_SOURCE";
INST "pcie/app/PIO_interface/PIO_EP_ins/EP_MEM/EP_MEM_inst/*/ack_meta" TNM = "CDC_ACK_FIRST";
TIMESPEC "TS_CDC_ACK" = FROM "CDC_ACK_SOURCE" TO "CDC_ACK_FIRST" TIG;
# This common bridge reset asserts asynchronously. Each domain holds its
# state reset for two local edges after release, including the PIO controller.
NET "pcie/cdc_reset_i" TIG;
# First stages of single-bit PCIe indicators and external panel inputs only.
INST "pcie_status_meta*" TNM = "PCIE_STATUS_FIRST";
TIMESPEC "TS_PCIE_STATUS" = TO "PCIE_STATUS_FIRST" TIG;
INST "blinken/switch_meta*" TNM = "PANEL_INPUT_FIRST";
TIMESPEC "TS_PANEL_INPUT" = TO "PANEL_INPUT_FIRST" TIG;


###############################################################################
##-----------------------------------------------------------------------------
##
## (c) Copyright 2009-2010 Xilinx, Inc. All rights reserved.
##
## This file contains confidential and proprietary information
## of Xilinx, Inc. and is protected under U.S. and
## international copyright and other intellectual property
## laws.
##
## DISCLAIMER
## This disclaimer is not a license and does not grant any
## rights to the materials distributed herewith. Except as
## otherwise provided in a valid license issued to you by
## Xilinx, and to the maximum extent permitted by applicable
## law: (1) THESE MATERIALS ARE MADE AVAILABLE "AS IS" AND
## WITH ALL FAULTS, AND XILINX HEREBY DISCLAIMS ALL WARRANTIES
## AND CONDITIONS, EXPRESS, IMPLIED, OR STATUTORY, INCLUDING
## BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, NON-
## INFRINGEMENT, OR FITNESS FOR ANY PARTICULAR PURPOSE; and
## (2) Xilinx shall not be liable (whether in contract or tort,
## including negligence, or under any other theory of
## liability) for any loss or damage of any kind or nature
## related to, arising under or in connection with these
## materials, including for any direct, or any indirect,
## special, incidental, or consequential loss or damage
## (including loss of data, profits, goodwill, or any type of
## loss or damage suffered as a result of any action brought
## by a third party) even if such damage or loss was
## reasonably foreseeable or Xilinx had been advised of the
## possibility of the same.
##
## CRITICAL APPLICATIONS
## Xilinx products are not designed or intended to be fail-
## safe, or for use in any application requiring fail-safe
## performance, such as life-support or safety devices or
## systems, Class III medical devices, nuclear facilities,
## applications related to the deployment of airbags, or any
## other applications that could lead to death, personal
## injury, or severe property or environmental damage
## (individually and collectively, "Critical
## Applications"). Customer assumes the sole risk and
## liability of any use of Xilinx products in Critical
## Applications, subject only to applicable laws and
## regulations governing limitations on product liability.
##
## THIS COPYRIGHT NOTICE AND DISCLAIMER MUST BE RETAINED AS
## PART OF THIS FILE AT ALL TIMES.
##
##-----------------------------------------------------------------------------
## Project    : V5-Block Plus for PCI Express
## File       : xilinx_pci_exp_blk_plus_1_lane_ep_xc5vlx110t-ff1136-1.ucf
#
# Use this file only with the device listed below.  Any other
# combination is invalid.  Do not modify this file except in
# regions designated for "User" constraints.
#
###############################################################################
# Define Device, Package And Speed Grade
###############################################################################

###############################################################################
# User Time Names / User Time Groups / Time Specs
###############################################################################

###############################################################################
# User Physical Constraints
###############################################################################


###############################################################################
# Pinout and Related I/O Constraints
###############################################################################

#
# SYS reset (input) signal.  The sys_reset_n signal should be
# obtained from the PCI Express interface if possible.  For
# slot based form factors, a system reset signal is usually
# present on the connector.  For cable based form factors, a
# system reset signal may not be available.  In this case, the
# system reset signal must be generated locally by some form of
# supervisory circuit.  You may change the IOSTANDARD and LOC
# to suit your requirements and VCCO voltage banking rules.
#

NET "sys_reset_n"      LOC = "AF24"  | IOSTANDARD = LVCMOS25 | PULLUP | NODELAY ;

#
# SYS clock 100 MHz (input) signal. The sys_clk_p and sys_clk_n
# signals are the PCI Express reference clock. Virtex-5 GTP
# Transceiver architecture requires the use of a dedicated clock
# resources (FPGA input pins) associated with each GTP Transceiver Tile.
# To use these pins an IBUFDS primitive (refclk_ibuf) is
# instantiated in user's design.
# Please refer to the Virtex-5 GTP Transceiver User Guide
# (UG196) for guidelines regarding clock resource selection.
#

NET  "sys_clk_p"       LOC = "AF4"  ;
NET  "sys_clk_n"       LOC = "AF3"  ;
INST "pcie/refclk_ibuf"     DIFF_TERM = "TRUE" ;

#
# Transceiver instance placement.  This constraint selects the
# transceivers to be used, which also dictates the pinout for the
# transmit and receive differential pairs.  Please refer to the
# Virtex-5 GTP Transceiver User Guide (UG196) for more
# information.
#

# PCIe Lane 0
INST "pcie/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[0].GT_i" LOC = GTP_DUAL_X0Y2;



###############################################################################
# Physical Constraints
###############################################################################

#
# BlockRAM placement
#

INST "pcie/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_retry/generate_sdp.ram_sdp_inst"      LOC = RAMB36_X3Y9 ;
INST "pcie/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X3Y13 ;
INST "pcie/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X3Y12 ;
INST "pcie/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X3Y11 ;
INST "pcie/ep/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X3Y10 ;


###############################################################################
# Timing Constraints
###############################################################################

#
# Timing requirements and related constraints.
#

NET "pcie/sys_clk_c"                                      PERIOD = 10ns;

NET "pcie/ep/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/gt_refclk_out" TNM_NET = "MGTCLK" ;

TIMESPEC "TS_MGTCLK"  = PERIOD "MGTCLK" 100.00 MHz HIGH 50 % ;

###############################################################################
# End
###############################################################################
